.card {
  margin: 20px;
  background: #2c365e;
  border-radius: 10px;
  color: white;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
  border-bottom: #202948 1px solid;
}

.cardBody {
  display: flex;
  justify-content: center;
}
