.card {
  margin: 20px;
  background: #2c365e;
  border-radius: 10px;
  color: white;
}

.networkCard {
  width: 30%;
}

.accountCard {
  width: 50%;
}

.tokensCard {
  width: 90%;
  align-self: center;
}

.cardHeader {
  display: flex;
  font-weight: bold;
  padding: 10px;
  border-bottom: #202948 1px solid;
}

.cardBody {
  display: flex;
  justify-content: center;
}

.cardBody .labels, .values {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.cardBody .labels {
  font-weight: 300;
}

.cardBody .values {
  align-items: end;
  flex-grow: 1;
  font-weight: bold;
}

.cardBody table {
  width: 100%;
  text-align: left;
  padding: 20px;
}

.cardBody thead td {
  font-weight: 500;
  padding-bottom: 10px;
}

.cardBody tbody td {
  font-weight: 300;
}

.cardBody thead .totalSupplyCol {
  text-align: center;
}

.cardBody tbody .totalSupplyCol {
  width: 20%;
  text-align: end;
}

.cardBody .tokenTablePlaceholder {
  padding: 20px;
}
