.card {
  margin: 20px;
  background: #2c365e;
  border-radius: 10px;
  color: white;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
  border-bottom: #202948 1px solid;
}

.cardHeader .warning {
  position: relative;
  left: 20px;
  top: -20px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-weight: bold;
  background-color: red;
}

.cardHeader .warning:hover {
  cursor: pointer;
  opacity: 0.8;
}

.cardBody {
  display: flex;
  justify-content: center;
}
