.card {
  margin: 20px;
  background: #2c365e;
  border-radius: 10px;
  color: white;
}

.networkCard {
  width: 30%;
}

.accountCard {
  width: 50%;
}

.balanceCard {
  width: 90%;
  align-self: center;
}

.cardHeader {
  display: flex;
  font-weight: bold;
  padding: 10px;
  border-bottom: #202948 1px solid;
}

.cardBody {
  display: flex;
}

.cardBody div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.cardBody .labels {
  font-weight: 300;
}

.cardBody .values {
  align-items: center;
  flex-grow: 1;
  font-weight: bold;
}
